:root {
    --trans-light: rgba(255, 255, 255, 0.81);
    --trans-dark: rgba(25, 25, 25, 0.66);
    --border-style: 3px solid rgb(36, 52, 105);
    --backdrop-filter: blur(5px) saturate(150%);
  }
  
  /* 首页文章卡片 */
  #recent-posts .recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 12px;
    border: var(--border-style);
  }
  
  /* 首页侧栏卡片 */
  #aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 8px;
    border: var(--border-style);
  }
  
  /* 文章页、归档页、普通页面-排除404页面（class='nc'） */
  div#post,
  div#page:not(.nc),
  div#tag,
  div#category,
  div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 12px;
  }
  
  /* 导航栏 */
  #page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: var(--backdrop-filter);
  }
  
  [data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.66) ;
  }
  
  /* 夜间模式遮罩 普通页面-排除404页面（class='nc'）*/
  [data-theme="dark"] #recent-posts .recent-post-item,
  [data-theme="dark"] #aside-content .card-widget,
  [data-theme="dark"] div#post,
  [data-theme="dark"] div#archive,
  [data-theme="dark"] div#tag,
  [data-theme="dark"] div#category,
  [data-theme="dark"] div#page:not(.nc) {
    background: var(--trans-dark);
  }
  
  /* 夜间模式页脚页头遮罩透明 */
  [data-theme="dark"] #footer::before {
    background: transparent ;
  }
  
  [data-theme="dark"] #page-header::before {
    background: transparent ;
  }
  
  /* 阅读模式 */
  .read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.5) ;
  }
  
  .read-mode div#post {
    background: rgba(158, 204, 171, 0.5) ;
  }
  
  /* 夜间模式下的阅读模式 */
  [data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) ;
    color: #ffffff;
  }
  
  [data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) ;
    color: #ffffff;
  }